# Neon Postgres Pooled Database URL (used by the application for queries)
DATABASE_URL="postgresql://[user]:[password]@[neon_hostname]-pooler.[region].aws.neon.tech/[dbname]?sslmode=require"

# Neon Postgres Direct Connection URL (used by Drizzle Kit for migrations)
DIRECT_DATABASE_URL="postgresql://[user]:[password]@[neon_hostname].[region].aws.neon.tech/[dbname]?sslmode=require"
